:root {
    --smn-tabs-row-gap: var(--wp--style--gap, 2em);
    --smn-tabs-column-gap: var(--wp--style--gap, 2em);
}

@starting-style {
    .wp-block-smn-tab-content.active {
      opacity: 0;
    }
}

.wp-block-smn-tabs__container {
    align-items: center;
    -moz-column-gap: var(--smn-tabs-column-gap);
    column-gap: var(--smn-tabs-column-gap);
    display: grid;
    flex: 1;
    justify-content: flex-start;
    row-gap: 0 !important;

    &.is-layout-flex {
        display: grid;
    }

    .wp-block-smn-tab {
        order: -1;
    }

    .wp-block-smn-tab-content {
        display: none;
        opacity: 0;
        transition: opacity .3s ease, display .3s ease allow-discrete; 
        grid-column: 1 / -1;
        margin: 0;
        order: 1;

        &.active {
            opacity: 1;
            display: block;
            
        }
    }

    .wp-block-smn-tab.active label,
    .wp-block-smn-tab__label.active {
        font-weight: 700;
    }

    &.is-vertical {
        grid-auto-flow: column;
        grid-template-columns: min-content auto;

        .wp-block-smn-tab-content {
            grid-column: 2 / 2;
            grid-row: 1 / -1;
        }
    }
}

.wp-block-smn-tabs.wp-block-smn-tabs__wrapper:not(.wp-block-smn-tabs-v2) {
    align-items: normal;
    -moz-column-gap: var(--smn-tabs-column-gap);
    column-gap: var(--smn-tabs-column-gap);
    display: flex;
    flex-direction: column;
    justify-content: normal;
    row-gap: 0;

    .wp-block-smn-tabs__tabs {
        align-items: center;
        -moz-column-gap: var(--smn-tabs-column-gap);
        column-gap: var(--smn-tabs-column-gap);
        display: flex;
        row-gap: var(--smn-tabs-row-gap);

        .wp-block-smn-tab__label {
            cursor: pointer;
            font-weight: inherit;

            &.active {
                font-weight: 700;
            }
        }
    }

    .wp-block-smn-tab {
        grid-column: 1 / -1;
    }

    .wp-block-smn-tabs__container {
        display: grid;
        flex: 1;

        .wp-block-smn-tab {
            display: none;
            margin: 0;

            &.active {
                display: block;
            }
        }
    }

    &.items-justified-right .wp-block-smn-tabs__tabs {
        justify-content: flex-end;
    }

    &.items-justified-space-between .wp-block-smn-tabs__tabs {
        justify-content: space-between;
    }

    &.items-justified-left .wp-block-smn-tabs__tabs {
        justify-content: flex-start;
    }

    &.items-justified-center .wp-block-smn-tabs__tabs {
        justify-content: center;
    }

    &.is-vertical {
        flex-direction: row;

        .wp-block-smn-tabs__tabs {
            align-items: normal;
            flex-direction: column;

            &.items-justified-right {
                align-items: flex-end;
            }

            &.items-justified-space-between {
                align-items: center;
            }

            &.items-justified-left {
                align-items: flex-start;
            }

            &.items-justified-center {
                align-items: center;
            }
        }

        .wp-block-smn-tabs__container {
            flex-direction: column;
        }
    }
}