@use '../abstracts/mixins' as *;

.is-style-group-horizontal-scroll, .is-style-group-horizontal-scroll-btns {
    padding: var(--wp--custom--layout--gap);
    gap: var(--wp--custom--layout--gap);
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-inline: contain;
    scroll-behavior: smooth;
    scroll-snap-type: x proximity;
    scrollbar-width: none;
    will-change: transform;

    &::-webkit-scrollbar {
        display: none;
    }

    &.active {
        cursor: grabbing;
        cursor: -webkit-grabbing;
        user-select: none;
    }

    & > .wp-block-group, & > .wc-block-product, & > .wp-block-gallery, & > [class*="wp-block-"] {
        flex: 0 0 auto !important;
        max-width: 386px !important;
        margin-block-start: 0;
        scroll-snap-align: center;
        scroll-snap-stop: always;

        @media ($below-mobile-xs) {
            max-width: 256px !important;
        }
    }

    &.alignfull {
        padding-left: calc(var(--wp--style--root--padding-left) + 16.6%);

        @media ($below-mobile) {
            padding-left: var(--wp--style--root--padding-left);
        }

        .horizontal-scroll--container {
            margin-right: calc(var(--wp--style--root--padding-right) * -1);
            margin-left: calc(var(--wp--style--root--padding-left) * -1);
        }

    }
    
}

.wp-block-group.is-layout-grid {
    @media ($below-mobile) {
        grid-template-columns: 1fr;
    }
}

.wp-block-group.is-position-sticky {
    top: calc(var(--wp--custom--layout--gap) + var(--wp-admin--admin-bar--position-offset, 0px))
}

.wp-block-group.is-style-margin-vertical {
    padding-top: var(--wp--preset--spacing--80);
    padding-bottom: var(--wp--preset--spacing--80);
    @media ($below-mobile) {
        padding-top: var(--wp--custom--layout--gap);
        padding-bottom: var(--wp--custom--layout--gap);
    }
}