@use '../abstracts/mixins' as *;

.wp-block-timeline {
    column-gap: var(--wp--custom--layout--gap);
    row-gap: 0;

    @media ($below-mobile) {
        row-gap: var(--wp--custom--layout--gap);

        .wp-block-timeline--year {

            p.has-text-align-right {
                text-align: left;
            }
        }
    }

    .wp-block-timeline--year {
        p {
            padding-right: var(--wp--preset--spacing--40);
        }

        &::before {
            content: '';
            position: absolute;
            top: 1rem;
            right: 0;
            width: 1px;
            height: 100%;
            background-color: var(--wp--preset--color--primary);
            @media ($below-mobile) {
                width: 100%;
                height: 1px;
                top: 100%;
            }
        }

        &::after {
            content: '';
            position: absolute;
            top: 1rem;
            right: -0.25rem;
            width: 0.5rem;
            height: 0.5rem;
            background-color: var(--wp--preset--color--primary);
            border-radius: var(--wp--custom--border-radius--rounded);
             @media ($below-mobile) {
                top: 2.33rem
            }
        }

        &.wp-block-timeline--year-last {
            &::before {
                top: 0;
                height: 1rem;

                 @media ($below-mobile) {
                    top: 2.5rem;
                    height: 1px;
                }
            }
        }
    }
}