@use '../abstracts/mixins' as *;

@media ($above-tablet) {
    body {
        --wp--style--root--padding-right: 4rem;
        --wp--style--root--padding-left: 4rem;
    }  
}

body .is-layout-flow {

    & > .wp-block-image.alignright {
        margin-inline-start: 0;
    }

    & > .wp-block-image.alignleft {
        margin-inline-end: 0;
    }
} 

:where(.wp-block-group.has-background) {
    padding: var(--wp--custom--layout--gap);
}

:root :where(.wp-block-cover) {
    padding-left: var(--wp--style--root--padding-left);
    padding-right: var(--wp--style--root--padding-right);
}