.wp-block-post-title a {
	text-decoration: none;
}

[class*="has-heading-"][class*="-font-size"] {
    line-height: var(--wp--custom--line-height--tiny);
    font-family: var(--wp--preset--font-family--font-heading);
}

